[push]
	default = current
[pull]
    rebase = false
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	cp = cherry-pick
	last = log -1
	unstage = reset HEAD --
	ca = commit --amend
	tree=log --all --graph --decorate --oneline
    mv = "!branchmv() { git branch -m $1 $2; if [[ `git ls-remote --heads origin $1 | wc -l` -eq 1 ]]; then git push origin :$1; git push origin $2; fi }; branchmv"
    clear = "!clear; echo \"Good job.\""
	pr="!f(){ git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; };f"
	yeet = !git add . && git commit
	yolo = !git add . && git commit -m \"$(curl -s https://whatthecommit.com/index.txt) -yolo\"  && git push origin HEAD -f
[core]
	execludesfile = ~/.gitignore
	autocrlf = input
	pager = less -FMRiX
	editor = nvim
[fetch]
	prune = true
[user]
	email = mmanning2@chewy.com
	name = Michael Manning
[url "ssh://git@github"]
    insteradOf = https://github.com
[github]
	user = mmanning2
[init]
	defaultBranch = dev
