#!/bin/sh
# Unix
alias tlf='tail -f' # Follow tail
alias ln='ln -v' # More verbose ln
alias mkdir='mkdir -p' # Always make full path if not exist
alias ...='../..'

alias e="$EDITOR"
alias v="$VISUAL"

alias fixesc="setxkbmap -option caps:escape"

alias alpha="echo 'a b c d e f g h i j k l m n o p q r s t u v w x y z'"

# alias irc="weechat"
# alias nord="sudo openpyn"
alias vim="nvim"
alias vi="nvim"
alias oldvim="\vim"

alias zshrc="vi ~/.zshrc"
alias ohmyzsh="vi ~/.oh-my-zsh"
alias art="php artisan"

alias sail="[ -f sail ] && bash sail || bash vendor/bin/sail"

# Git
alias gpom="git push origin master"
alias gpod="git push origin development"

# Pretty print the path
alias path="echo $PATH | tr -s ':' '\n'"

# Navigation
# alias cdwiki='cd ~/vimwiki'

alias cat='bat'
# alias ping='prettyping'

# Go to the root of a project (git root)
alias root='cd $(git rev-parse --show-cdup)'

alias :w="clear;echo \"You're not in vim but ok\""
alias work="cd ~/workspace"
alias dock="docker-compose"
